body {
}

.staffinfo {
    display: flex;
    flex-direction: row;
}

.staff-img {
    width: 25%;
    height: auto;
    text-align:center;
}

.staff-content {
    width: 75%;
}
.staff-content p span {
    margin-right:20px;
}
.nameuser{
    font-size:20px;
    font-weight:500;

}
 