@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");


body {
    background: #f9f9f9;
    font-family: "Roboto", sans-serif;
}

.shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
    min-width: 250px;
}

.tab-content {
    flex: 1;
    margin: 0px 30px;
}

.form-group {
    margin-bottom: 1.5rem;
}

.nav-pills {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #333;
}

.img-circle {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid #fff;
}

.title_acc {
    border-radius: 0.375rem;
    /*background-color: rgb(189 187 187 / 0.50);*/
    align-items: center;
    padding: 5px 10px;
    border-left: 5px solid #ffd800;
}

label {
    color: #999999;
}
.online {
    align-items: center;
    align-content: center;
    justify-content:center;
    justify-items:center;
    font-size: 12px;
    margin-right: 3px;
}


.editProfile {
    border-radius: 0.375rem;
    background-color: #ffd800;
    align-items: center;
    padding: 5px 50px;
}
.editProfile:hover {
    cursor: no-drop;
    
}