
@{
    ViewBag.Title = "PaymentFailed";
    Layout = "~/Views/Guest/ViewGuest/Guest.cshtml";
}

<div class="container" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 490px;">
    <div class="text-center " style=" margin:0 auto;">
        <img src="~/Content/Images/credit-card.png" style="width:70px; height:70px; margin-top:20px;" alt="Payment Failed" />
        <h2 style="color: #47c7c5;">Thanh toán thất bại!</h2>
        <h5>Đơn hàng đã được ghi nhận nhưng chưa thanh toán</h5>
        <a href="~/Guest/HomePageGuest" class="btn btn-outline-success"><ins>Trở lại trang chủ</ins></a>
    </div>
    
</div>
