
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Guest/ViewGuest/Guest.cshtml";
}
<style>
    .body {
        height: 100%;
    }

    h1 {
        margin-top: 32px;
    }

    strong {
        font-size: 16px;
    }

    .form-lienhe {
        font-size: 16px !important;
        margin-top: 20px;
    }

    .input-lg {
        font-size: 16px !important
    }

    .mg-bot30 {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
    }

    .btn-submit {
        border-radius: 5px;
        background-color: #67a448;
        color: white;
        font-size: 20px !important;
        border: none;
    }
</style>
<div class="body">
    <div class="container">
        <div class="lienhe">
            <p style="border: 2px solid black"> </p>
            <div class="hero-image">
                <div class="hero-text">
                    <h1> SaiGon Travels - Liên hệ chúng tôi </h1>
                    <strong> Hỗ trợ khách hàng </strong>
                    <div class="col-xs-12 mg-bot15 form-lienhe">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  mg-bot15">
                                <p class="hoten"> Họ và Tên : </p>
                                <input type="text" class="form-control input-lg" name="txt-Fullname" required />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  mg-bot15">
                                <p class="email"> Email : </p>
                                <input type="text" class="form-control input-lg" name="txt-Email" required />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  mg-bot15">
                                <p class="sdt"> Số điện thoại : </p>
                                <input type="text" class="form-control input-lg" name="txt-Sdt" required />
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  mg-bot30">
                                <p class="noidung"> Nhập nội dung: </p>
                                <textarea rows="5" class="form-control input-lg-nd" name="txt-Noidung" required> </textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  mg-bot30">
                                <button class="btn-submit"> Submit </button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@* ------------------------------------------------------------------- *@


@* Cái cũ nhé *@
<body>
 simple-contact-form2 
<section class="w3l-simple-contact-form2">
    <div class="section-gap">
        <div class="wrapper">
            <div class="form-inner-cont">
                <form>
                    <h3>Contact Us</h3>
                    <div class="form-input">
                        <label for="w3lName">Name</label>
                        <input type="text" name="w3lName" id="w3lName" placeholder="Enter your name" required="" />
                    </div>
                    <div class="form-input">
                        <label for="w3lSender">Email</label>
                        <input type="email" name="w3lSender" id="w3lSender" placeholder="Enter your email" required />
                    </div>
                    <div class="form-input">
                        <label for="w3lSender">Number Phone</label>
                        <input type="email" name="w3lSender" id="w3lSender" placeholder="Enter your Number Phone" required />
                    </div>
                    <div class="form-input">
                        <label for="w3lSubject">Title</label>
                        <input type="text" name="w3lSubject" id="w3lSubject" placeholder="Enter subject" required />
                    </div>
                    <div class="form-input">
                        <label for="w3lMessage">Message</label>
                        <textarea name="w3lMessage" id="w3lMessage" placeholder="Type your query here" required=""></textarea>
                    </div>
                    <button class="btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
 /simple-contact-form2 
</body>

</html>
