
@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Guest/ViewGuest/Guest.cshtml";
}
<style>
    .container {
        width: 1300px !important;
    }

    .mg-bot30 {
        margin-bottom: 30px;
    }

    .frame-title {
        position: relative;
        margin-bottom: 35px;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 20px;
    }

    .border-line {
        border-bottom: 1px solid #000;
        padding-top: 8px;
    }

    .f-title {
        font-weight: 700;
        font-size: 27px;
        background: #fff;
        position: absolute;
        top: -15px;
        padding-right: 20px;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .mg-bot15 {
        margin-bottom: 15px;
    }

    .listnews2 img.pic-trai {
        width: 100%;
        height: auto;
    }

    .container img {
        max-width: 100%;
    }

    p:hover {
        color: blue;
    }

    .container img {
        max-width: 100%;
    }

    .listnews2 img.pic-phai {
        width: 100%;
        height: auto;
    }

    .fa-lg {
        font-size: 1.33333333em;
        line-height: .75em;
        vertical-align: -15%;
    }

    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
<body>
    <div class="contain">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-left mg-bot30">
                    <div class="nhatky row right-title mg-bot10">
                        <div class="frame-title">
                            <div class="border-line">
                                <div class="f-title">
                                    <p style="font-size: 28px"> Tin mới</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row listnews2">
                        <div class="col-md-6 mg-bot15">
                            <img src="~/images/phuquoc_baikhem.jpg" class="img-responsive mg-bot15 pic-trai">
                            <p style="font-weight: bold; font-size: 18px"> 6 bãi biển đẹp nhất Phú Quốc </p>
                            <span style="line-height: 22px;padding-bottom:5px">
                                Phú Quốc sở hữu những đường bờ biển dài bất tận, có thể kể đến bãi Sao, bãi Dài, đồng thời vẫn còn rất nhiều bãi biển hoang sơ khác đẹp tựa thiên đường mang đến cảm giác yên bình, ...
                            </span>
                            <p style="color: #0aa0fe; font-style: italic; font-weight: bold; font-size: 13px">
                                Ngày đăng :
                                <span style="color: #0aa0fe;font-style: italic;font-weight: bold;font-size: 13px;">13/07/2020 17:09</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="row mg-bot15">
                                <div class="col-md-3 col-sm-3 mg-bot15">
                                    
                                    <img src="~/images/phuquoc_vinpearl.jpg" class="img-responsive pic-phai" />
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <p style="margin-bottom: 5px; text-decoration: none">'Chill phết' 5 thiên đường biển đảo Nam Trung ...</p>
                                    <span style="line-height: 22px;padding-bottom:5px">
                                        Cứ mỗi độ hè về, biển đảo Nam Trung bộ khoác lên mình một vẻ đẹp căng tràn sức sống. Đến đây, bạn như lạc vào thiên đườn ...
                                    </span>
                                    <p style="color: #0aa0fe; font-style: italic; font-weight: bold; font-size: 13px">
                                        Ngày đăng :
                                        <span style="color: #0aa0fe;font-style: italic;font-weight: bold;font-size: 13px;">13/07/2020 17:09</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row mg-bot15">
                                <div class="col-md-3 col-sm-3 mg-bot15">
                                    <img src="~/images/khanhhoa_vinpearland.jpg" class="img-responsive pic-phai" />

                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <p style="margin-bottom: 5px; text-decoration: none">'Chill phết' 5 thiên đường biển đảo Nam Trung ...</p>
                                    <span style="line-height: 22px;padding-bottom:5px">
                                        Cứ mỗi độ hè về, biển đảo Nam Trung bộ khoác lên mình một vẻ đẹp căng tràn sức sống. Đến đây, bạn như lạc vào thiên đườn ...
                                    </span>
                                    <p style="color: #0aa0fe; font-style: italic; font-weight: bold; font-size: 13px">
                                        Ngày đăng :
                                        <span style="color: #0aa0fe;font-style: italic;font-weight: bold;font-size: 13px;">13/07/2020 17:09</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row mg-bot15">
                                <div class="col-md-3 col-sm-3 mg-bot15">
                                    <img src="~/images/danang_banahill.jpg" class="img-responsive pic-phai" />

                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <p style="margin-bottom: 5px; text-decoration: none">'Chill phết' 5 thiên đường biển đảo Nam Trung ...</p>
                                    <span style="line-height: 22px;padding-bottom:5px">
                                        Cứ mỗi độ hè về, biển đảo Nam Trung bộ khoác lên mình một vẻ đẹp căng tràn sức sống. Đến đây, bạn như lạc vào thiên đườn ...
                                    </span>
                                    <p style="color: #0aa0fe; font-style: italic; font-weight: bold; font-size: 13px">
                                        Ngày đăng :
                                        <span style="color: #0aa0fe;font-style: italic;font-weight: bold;font-size: 13px;">13/07/2020 17:09</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row mg-bot15">
                                <div class="col-md-3 col-sm-3 mg-bot15">
                                    <img src="~/images/dalat_langbiang.jpg" class="img-responsive pic-phai" />
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <p style="margin-bottom: 5px; text-decoration: none">'Chill phết' 5 thiên đường biển đảo Nam Trung ...</p>
                                    <span style="line-height: 22px;padding-bottom:5px">
                                        Cứ mỗi độ hè về, biển đảo Nam Trung bộ khoác lên mình một vẻ đẹp căng tràn sức sống. Đến đây, bạn như lạc vào thiên đườn ...
                                    </span>
                                    <p style="color: #0aa0fe; font-style: italic; font-weight: bold; font-size: 13px">
                                        Ngày đăng :
                                        <span style="color: #0aa0fe;font-style: italic;font-weight: bold;font-size: 13px;">13/07/2020 17:09</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nhatky row right-title mg-bot10">
                        <div class="frame-title">
                            <div class="border-line">
                                <div class="f-title">
                                    <p style="font-size: 28px"> Tin tức du lịch</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row listnews2">
                        <div class="col-md-6 mg-bot15">
                            <img src="~/images/phuquoc_baikhem.jpg" class="img-responsive mg-bot15 pic-trai">
                            <p style="font-weight: bold; font-size: 18px"> 6 bãi biển đẹp nhất Phú Quốc </p>
                            <span style="line-height: 22px;padding-bottom:5px">
                                Phú Quốc sở hữu những đường bờ biển dài bất tận, có thể kể đến bãi Sao, bãi Dài, đồng thời vẫn còn rất nhiều bãi biển hoang sơ khác đẹp tựa thiên đường mang đến cảm giác yên bình, ...
                            </span>
                            <p style="color: #0aa0fe; font-style: italic; font-weight: bold; font-size: 13px">
                                Ngày đăng :
                                <span style="color: #0aa0fe;font-style: italic;font-weight: bold;font-size: 13px;">13/07/2020 17:09</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="row mg-bot15">
                                <div class="col-md-3 col-sm-3 mg-bot15">

                                    <img src="~/images/phuquoc_vinpearl.jpg" class="img-responsive pic-phai" />
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <p style="margin-bottom: 5px; text-decoration: none">'Chill phết' 5 thiên đường biển đảo Nam Trung ...</p>
                                    <span style="line-height: 22px;padding-bottom:5px">
                                        Cứ mỗi độ hè về, biển đảo Nam Trung bộ khoác lên mình một vẻ đẹp căng tràn sức sống. Đến đây, bạn như lạc vào thiên đườn ...
                                    </span>
                                    <p style="color: #0aa0fe; font-style: italic; font-weight: bold; font-size: 13px">
                                        Ngày đăng :
                                        <span style="color: #0aa0fe;font-style: italic;font-weight: bold;font-size: 13px;">13/07/2020 17:09</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row mg-bot15">
                                <div class="col-md-3 col-sm-3 mg-bot15">
                                    <img src="~/images/khanhhoa_vinpearland.jpg" class="img-responsive pic-phai" />

                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <p style="margin-bottom: 5px; text-decoration: none">'Chill phết' 5 thiên đường biển đảo Nam Trung ...</p>
                                    <span style="line-height: 22px;padding-bottom:5px">
                                        Cứ mỗi độ hè về, biển đảo Nam Trung bộ khoác lên mình một vẻ đẹp căng tràn sức sống. Đến đây, bạn như lạc vào thiên đườn ...
                                    </span>
                                    <p style="color: #0aa0fe; font-style: italic; font-weight: bold; font-size: 13px">
                                        Ngày đăng :
                                        <span style="color: #0aa0fe;font-style: italic;font-weight: bold;font-size: 13px;">13/07/2020 17:09</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row mg-bot15">
                                <div class="col-md-3 col-sm-3 mg-bot15">
                                    <img src="~/images/danang_banahill.jpg" class="img-responsive pic-phai" />

                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <p style="margin-bottom: 5px; text-decoration: none">'Chill phết' 5 thiên đường biển đảo Nam Trung ...</p>
                                    <span style="line-height: 22px;padding-bottom:5px">
                                        Cứ mỗi độ hè về, biển đảo Nam Trung bộ khoác lên mình một vẻ đẹp căng tràn sức sống. Đến đây, bạn như lạc vào thiên đườn ...
                                    </span>
                                    <p style="color: #0aa0fe; font-style: italic; font-weight: bold; font-size: 13px">
                                        Ngày đăng :
                                        <span style="color: #0aa0fe;font-style: italic;font-weight: bold;font-size: 13px;">13/07/2020 17:09</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row mg-bot15">
                                <div class="col-md-3 col-sm-3 mg-bot15">
                                    <img src="~/images/dalat_langbiang.jpg" class="img-responsive pic-phai" />
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <p style="margin-bottom: 5px; text-decoration: none">'Chill phết' 5 thiên đường biển đảo Nam Trung ...</p>
                                    <span style="line-height: 22px;padding-bottom:5px">
                                        Cứ mỗi độ hè về, biển đảo Nam Trung bộ khoác lên mình một vẻ đẹp căng tràn sức sống. Đến đây, bạn như lạc vào thiên đườn ...
                                    </span>
                                    <p style="color: #0aa0fe; font-style: italic; font-weight: bold; font-size: 13px">
                                        Ngày đăng :
                                        <span style="color: #0aa0fe;font-style: italic;font-weight: bold;font-size: 13px;">13/07/2020 17:09</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nhatky row right-title mg-bot10">
                        <div class="frame-title">
                            <div class="border-line">
                                <div class="f-title">
                                    <p style="font-size: 28px"> Cẩm nang du lịch </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row listnews2">
                        <div class="col-md-6 mg-bot15">
                            <img src="~/images/phuquoc_baikhem.jpg" class="img-responsive mg-bot15 pic-trai">
                            <p style="font-weight: bold; font-size: 18px"> 6 bãi biển đẹp nhất Phú Quốc </p>
                            <span style="line-height: 22px;padding-bottom:5px">
                                Phú Quốc sở hữu những đường bờ biển dài bất tận, có thể kể đến bãi Sao, bãi Dài, đồng thời vẫn còn rất nhiều bãi biển hoang sơ khác đẹp tựa thiên đường mang đến cảm giác yên bình, ...
                            </span>
                            <p style="color: #0aa0fe; font-style: italic; font-weight: bold; font-size: 13px">
                                Ngày đăng :
                                <span style="color: #0aa0fe;font-style: italic;font-weight: bold;font-size: 13px;">13/07/2020 17:09</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="row mg-bot15">
                                <div class="col-md-3 col-sm-3 mg-bot15">

                                    <img src="~/images/phuquoc_vinpearl.jpg" class="img-responsive pic-phai" />
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <p style="margin-bottom: 5px; text-decoration: none">'Chill phết' 5 thiên đường biển đảo Nam Trung ...</p>
                                    <span style="line-height: 22px;padding-bottom:5px">
                                        Cứ mỗi độ hè về, biển đảo Nam Trung bộ khoác lên mình một vẻ đẹp căng tràn sức sống. Đến đây, bạn như lạc vào thiên đườn ...
                                    </span>
                                    <p style="color: #0aa0fe; font-style: italic; font-weight: bold; font-size: 13px">
                                        Ngày đăng :
                                        <span style="color: #0aa0fe;font-style: italic;font-weight: bold;font-size: 13px;">13/07/2020 17:09</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row mg-bot15">
                                <div class="col-md-3 col-sm-3 mg-bot15">
                                    <img src="~/images/khanhhoa_vinpearland.jpg" class="img-responsive pic-phai" />

                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <p style="margin-bottom: 5px; text-decoration: none">'Chill phết' 5 thiên đường biển đảo Nam Trung ...</p>
                                    <span style="line-height: 22px;padding-bottom:5px">
                                        Cứ mỗi độ hè về, biển đảo Nam Trung bộ khoác lên mình một vẻ đẹp căng tràn sức sống. Đến đây, bạn như lạc vào thiên đườn ...
                                    </span>
                                    <p style="color: #0aa0fe; font-style: italic; font-weight: bold; font-size: 13px">
                                        Ngày đăng :
                                        <span style="color: #0aa0fe;font-style: italic;font-weight: bold;font-size: 13px;">13/07/2020 17:09</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row mg-bot15">
                                <div class="col-md-3 col-sm-3 mg-bot15">
                                    <img src="~/images/danang_banahill.jpg" class="img-responsive pic-phai" />

                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <p style="margin-bottom: 5px; text-decoration: none">'Chill phết' 5 thiên đường biển đảo Nam Trung ...</p>
                                    <span style="line-height: 22px;padding-bottom:5px">
                                        Cứ mỗi độ hè về, biển đảo Nam Trung bộ khoác lên mình một vẻ đẹp căng tràn sức sống. Đến đây, bạn như lạc vào thiên đườn ...
                                    </span>
                                    <p style="color: #0aa0fe; font-style: italic; font-weight: bold; font-size: 13px">
                                        Ngày đăng :
                                        <span style="color: #0aa0fe;font-style: italic;font-weight: bold;font-size: 13px;">13/07/2020 17:09</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row mg-bot15">
                                <div class="col-md-3 col-sm-3 mg-bot15">
                                    <img src="~/images/dalat_langbiang.jpg" class="img-responsive pic-phai" />
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <p style="margin-bottom: 5px; text-decoration: none">'Chill phết' 5 thiên đường biển đảo Nam Trung ...</p>
                                    <span style="line-height: 22px;padding-bottom:5px">
                                        Cứ mỗi độ hè về, biển đảo Nam Trung bộ khoác lên mình một vẻ đẹp căng tràn sức sống. Đến đây, bạn như lạc vào thiên đườn ...
                                    </span>
                                    <p style="color: #0aa0fe; font-style: italic; font-weight: bold; font-size: 13px">
                                        Ngày đăng :
                                        <span style="color: #0aa0fe;font-style: italic;font-weight: bold;font-size: 13px;">13/07/2020 17:09</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nhatky row right-title mg-bot10">
                        <div class="frame-title">
                            <div class="border-line">
                                <div class="f-title">
                                    <p style="font-size: 28px"> Kinh nghiệm du lịch </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row listnews2">
                        <div class="col-md-6 mg-bot15">
                            <img src="~/images/phuquoc_baikhem.jpg" class="img-responsive mg-bot15 pic-trai">
                            <p style="font-weight: bold; font-size: 18px"> 6 bãi biển đẹp nhất Phú Quốc </p>
                            <span style="line-height: 22px;padding-bottom:5px">
                                Phú Quốc sở hữu những đường bờ biển dài bất tận, có thể kể đến bãi Sao, bãi Dài, đồng thời vẫn còn rất nhiều bãi biển hoang sơ khác đẹp tựa thiên đường mang đến cảm giác yên bình, ...
                            </span>
                            <p style="color: #0aa0fe; font-style: italic; font-weight: bold; font-size: 13px">
                                Ngày đăng :
                                <span style="color: #0aa0fe;font-style: italic;font-weight: bold;font-size: 13px;">13/07/2020 17:09</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="row mg-bot15">
                                <div class="col-md-3 col-sm-3 mg-bot15">

                                    <img src="~/images/phuquoc_vinpearl.jpg" class="img-responsive pic-phai" />
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <p style="margin-bottom: 5px; text-decoration: none">'Chill phết' 5 thiên đường biển đảo Nam Trung ...</p>
                                    <span style="line-height: 22px;padding-bottom:5px">
                                        Cứ mỗi độ hè về, biển đảo Nam Trung bộ khoác lên mình một vẻ đẹp căng tràn sức sống. Đến đây, bạn như lạc vào thiên đườn ...
                                    </span>
                                    <p style="color: #0aa0fe; font-style: italic; font-weight: bold; font-size: 13px">
                                        Ngày đăng :
                                        <span style="color: #0aa0fe;font-style: italic;font-weight: bold;font-size: 13px;">13/07/2020 17:09</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row mg-bot15">
                                <div class="col-md-3 col-sm-3 mg-bot15">
                                    <img src="~/images/khanhhoa_vinpearland.jpg" class="img-responsive pic-phai" />

                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <p style="margin-bottom: 5px; text-decoration: none">'Chill phết' 5 thiên đường biển đảo Nam Trung ...</p>
                                    <span style="line-height: 22px;padding-bottom:5px">
                                        Cứ mỗi độ hè về, biển đảo Nam Trung bộ khoác lên mình một vẻ đẹp căng tràn sức sống. Đến đây, bạn như lạc vào thiên đườn ...
                                    </span>
                                    <p style="color: #0aa0fe; font-style: italic; font-weight: bold; font-size: 13px">
                                        Ngày đăng :
                                        <span style="color: #0aa0fe;font-style: italic;font-weight: bold;font-size: 13px;">13/07/2020 17:09</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row mg-bot15">
                                <div class="col-md-3 col-sm-3 mg-bot15">
                                    <img src="~/images/danang_banahill.jpg" class="img-responsive pic-phai" />

                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <p style="margin-bottom: 5px; text-decoration: none">'Chill phết' 5 thiên đường biển đảo Nam Trung ...</p>
                                    <span style="line-height: 22px;padding-bottom:5px">
                                        Cứ mỗi độ hè về, biển đảo Nam Trung bộ khoác lên mình một vẻ đẹp căng tràn sức sống. Đến đây, bạn như lạc vào thiên đườn ...
                                    </span>
                                    <p style="color: #0aa0fe; font-style: italic; font-weight: bold; font-size: 13px">
                                        Ngày đăng :
                                        <span style="color: #0aa0fe;font-style: italic;font-weight: bold;font-size: 13px;">13/07/2020 17:09</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row mg-bot15">
                                <div class="col-md-3 col-sm-3 mg-bot15">
                                    <img src="~/images/dalat_langbiang.jpg" class="img-responsive pic-phai" />
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <p style="margin-bottom: 5px; text-decoration: none">'Chill phết' 5 thiên đường biển đảo Nam Trung ...</p>
                                    <span style="line-height: 22px;padding-bottom:5px">
                                        Cứ mỗi độ hè về, biển đảo Nam Trung bộ khoác lên mình một vẻ đẹp căng tràn sức sống. Đến đây, bạn như lạc vào thiên đườn ...
                                    </span>
                                    <p style="color: #0aa0fe; font-style: italic; font-weight: bold; font-size: 13px">
                                        Ngày đăng :
                                        <span style="color: #0aa0fe;font-style: italic;font-weight: bold;font-size: 13px;">13/07/2020 17:09</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
