@model Tourist_VietripInsum_2023.Models.BookTour
@using Tourist_VietripInsum_2023.Models
@{
    ViewBag.Title = "Hóa đơn";
    Layout = "~/Views/OrderProcessing/LayoutOP/_ViewOP.cshtml";
    ViewBag.booking = "active";
    TouristEntities1 db = new TouristEntities1();
}

<link href="~/Content/Guest/bill.css" rel="stylesheet" />
<div class="container-sm">
    <div class="row">
        <div class="col-md-12">
            <div class="tile" id="printMe">

                @{
                    DateTime ngay = (DateTime)(Model.NgayLap);
                    int thang = ngay.Month;
                    var khach = db.KhachHangs.Where(s => s.MaKH == Model.MaKH).FirstOrDefault();

                }

                <div id="page" class="page">
                    <div class="header">
                        <div class="logo">
                            <img class="app-nav__item" src="~/Content/Images/logo_project.png" width="40px" height="50px;" alt="User Image">
                            <h5 class="app-nav__item justify-content-between">SaiGon Travel</h5>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="title">
                            <p>HÓA ĐƠN THANH TOÁN</p>
                        </div>
                        <div class="thongtinkhachhang">
                            <p><strong>Tên khách hàng: </strong>@Html.DisplayFor(model => khach.HoTenKH)</p>
                            <p><strong>Địa chỉ: </strong>@Html.DisplayFor(model => khach.DiaChi)</p>
                            <p><strong>Số điện thoại: </strong>@Html.DisplayFor(model => khach.SDT)</p>
                            <p><strong>Tên khách hàng: </strong>@Html.DisplayFor(model => khach.HoTenKH)</p>
                        </div>
                        <table class="TableData">
                            <tr>
                                <th>STT</th>
                                <th>Tên</th>
                                <th>Đơn giá</th>
                                <th>Số</th>
                                <th>Thành tiền</th>
                            </tr>

                            <tr>

                            <tr>
                                <td colspan="4" class="tong">Tổng cộng</td>
                                <td class="cotSo"><?php echo number_format(($tongsotien),0,",",".")?></td>
                            </tr>
                        </table>
                        <div class="footer-left">
                            Cần thơ, ngày 16 tháng 12 năm 2014<br />
                            Khách hàng
                        </div>
                        <div class="footer-right">
                            Cần thơ, ngày 16 tháng 12 năm 2014<br />
                            Nhân viên
                        </div>
                    </div>
            </div>
    <div class="row" style="padding-left:10px" id="btnin">
        <div class="col-sm-2">
            <a class="btn btn-warning btn-sm " data-toggle="modal" data-target="#myModal">
                Cập thông tin đơn hàng
            </a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-delete btn-sm " title="In" onclick="printDiv('printMe')">
                <i class="fas fa-print"></i> In dữ liệu
            </a>
        </div>
        <div class="col-sm-2">


        </div>

    </div>
</div>
