<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2 class="titleemail">SAIGON TRAVELS - THÔNG TIN TÀI KHOẢN </h2>
    <p>
        Tài khoản với email <b>{{email}}</b> của quý khách đã được xác nhận. Thông tin đăng nhập như sau:
    </p>
    <p>Tên đăng nhập: <B>{{username}}</B></p>
    <p>Mật khẩu đăng nhập: <B>{{matkhau}}</B></p>
    <p class="text-danger">(*) Vui lòng đổi mật khẩu ngay khi nhận được email này.</p>
        
    
    <br />
    <p>
        Cần thêm thông tin, vui lòng liên hệ theo số điện thoại Ms DIỄM KHANG - Số nội bộ: 1111 - Tồng đài: 1900.4567
    </p>
    <p>
        Trân trọng!
    </p>
</body>
</html>