<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2 class="titleemail">SAIGONTRAVEL - XÁC NHẬN HỦY ĐƠN ĐẶT TOUR</h2>
    <p>Kính gửi quý khách, <b>{{TenKH}}</b></p>
    <p>Thay mặt SaigonTravel, kính gửi đến quý khách lời chúc sức khỏe và lời cảm ơn chân thành vì đã quan tâm, tin tưởng sử dụng dịch vụ của chúng tôi.</p>
    <p>
        SaigonTravel xác nhận quý khách đã không thanh toán đơn hàng {{MaDonHang}} cho dịch vụ tour du lịch {{MaTour}}
        đã đăng ký vào ngày {{NgayDat}} theo đúng hạn.


    </p>
    <p>Chúng tôi đã hủy đơn đặt tour của quý khách theo quy định</p>
    <p>
        Nếu quý khách có nhu cầu đặt lại hoặc đặt thêm các dịch vụ khác của SaigionTravel, quý khách vui lòng đến
        trang chủ của chúng tôi hoặc liên hệ qua đường dây nóng : (+984) 0874583231 để được nhân viên tư vấn
    </p>
    <br />
    <p>
        Cần thêm thông tin, Anh vui lòng liên hệ theo số điện thoại Ms DIỄM KHANG - Số nội bộ: 1111 - Tồng đài: 1900.4567
    </p>
    <p>
        Mong sớm nhận được hồi âm của quý khách.
    </p>
    <p>
        Trân trọng!
    </p>

</body>
</html>