<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<style>
    .titleemail {
        color: #094933c7;
        font-weight: 800;
    }

    .td1 {
        background-color: #f4f5f6;
        padding-right: 10px;
        text-align: right;
        width: 50px;
        color: #094933c7;
        font-weight: 900;
    }

    .td2 {
        padding-left: 10px;
        text-align: left;
        width: 150px;
    }

</style>
<body>
    <h2 class="titleemail">SAIGONTRAVEL - XÁC NHẬN ĐĂNG KÝ THÀNH CÔNG TOUR DU LỊCH</h2>
    <p>Kính gửi quý khách, {{TenKH}}</p>
    <p>Thay mặt SaigonTravel, kính gửi đến quý khách lời chúc sức khỏe và lời cảm ơn chân thành vì đã quan tâm, tin tưởng sử dụng dịch vụ của chúng tôi.</p>
    <p>SaigonTravel xác nhận quý khách đã đăng ký tour thành công, quý khách vui lòng lưu ý thời hạn booking để tránh trường hợp booking bị hủy do quá hạn.</p>
    <br />
    <h5 style="color:red;">CHI TIẾT BOOKING</h5>
    <table border="1" cellspacing="0" cellpadding="0" width="60%">
        <tbody>
            <tr>
                <td class="td1">
                    <p>
                        <span style="font-family:Roboto">
                            Mã đơn hàng:
                        </span>
                    </p>
                </td>
                <td class="td2">
                    <p>{{MaDH}}</p>
                </td>
            </tr>
            <tr>
                <td class="td1">
                    <p>
                        <span style="font-family:Roboto">
                            Tên khách hàng:
                        </span>
                    </p>
                </td>
                <td class="td2">
                    <p>{{TenKH}}</p>
                </td>
            </tr>
            <tr>
                <td class="td1">
                    <p>
                        <span style="font-family:Roboto">
                            Tổng đơn hàng:
                        </span>
                    </p>
                </td>
                <td class="td2">
                    <p>{{total}}</p>
                </td>
            </tr>

            <tr>
                <td class="td1">
                    <p>
                        <span style="font-family:Roboto">
                            Hình thức thanh toán:
                        </span>
                    </p>
                </td>
                <td class="td2">
                    <p>123456</p>
                </td>
            </tr>
            <tr>
                <td class="td1">
                    <p>
                        <span style="font-family:Roboto;background:yellow">
                            Thời hạn:
                        </span>
                    </p>
                </td>
                <td class="td2">
                    <p style="font-family:Roboto;background:yellow">123456</p>
                </td>
            </tr>
        </tbody>
    </table>
    <h4 style="color:#2d4271">
        THÔNG TIN TOUR
    </h4>
    <table border="0" cellpadding="0" width="851" style="width:638.1pt">
        <tbody>
            <tr>
                <td>
                    <p class="MsoNormal">
                        Mã tour :

                    </p>
                </td>
                <td colspan="4">
                    <p class="MsoNormal">
                        <b>
                            <span style="background:yellow">{{MaTour}}</span>
                        </b>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="MsoNormal">
                        Tên Tour :

                    </p>
                </td>
                <td colspan="4">
                    <p class="MsoNormal">
                        <b>
                            <span style="background:yellow">{{TenTour}}</span>
                        </b>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="MsoNormal">
                        Ngày khởi hành :

                    </p>
                </td>
                <td colspan="4">
                    <p class="MsoNormal">
                        <b>
                            <span style="background:yellow">{{ngaykhoihanh}}</span>
                        </b>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="MsoNormal">
                        Nơi khởi hành :

                    </p>
                </td>
                <td colspan="4">
                    <p class="MsoNormal">
                        <b>
                            <span style="background:yellow">{{noikhoihanh}}</span>
                        </b>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="MsoNormal">
                        Hạn chót vé :

                    </p>
                </td>
                <td colspan="4">
                    <p class="MsoNormal">
                        <b>
                            <span style="background:yellow">{{hanchotve}}</span>
                        </b>
                    </p>
                </td>
            </tr>


</table>
  
</body>
</html>