<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <h2 class="titleemail">SAIGONTRAVELS - {{tieude}}</h2>
    <p>Kính gửi quý khách, <b>{{TenKH}}</b></p>
    <p>Thay mặt SaigonTravels, kính gửi đến quý khách lời chúc sức khỏe và lời cảm ơn chân thành vì đã quan tâm, tin tưởng sử dụng dịch vụ của chúng tôi.</p>
    <p>{{noidung}}</p>
    <br />
    <p class="MsoNormal">
        <b><span style="font-family:Roboto;color:#c50000;text-transform:uppercase">Chi tiết booking:<u></u><u></u></span></b>
    </p>
    <table border="1" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;border-collapse:collapse;border:none">
        <tbody>
            <tr>
                <td width="170" style="width:127.2pt;border-top:solid #f4f5f6 1.0pt;border-left:solid #f4f5f6 1.0pt;border-bottom:solid white 1.0pt;border-right:none;background:#f4f5f6;padding:3.75pt 7.5pt 3.75pt 7.5pt">
                    <p class="MsoNormal" align="right" style="text-align:right">
                        <span style="font-family:Roboto">Số booking:<u></u><u></u></span>
                    </p>
                </td>
                <td width="1142" style="width:856.75pt;border:solid #f4f5f6 1.0pt;border-left:none;padding:3.75pt 7.5pt 3.75pt 7.5pt">
                    <p class="MsoNormal" style="line-height:15.0pt">
                        <b><span style="font-family:Roboto">{{MaDH}}</span></b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="170" style="width:127.2pt;border-top:none;border-left:solid #f4f5f6 1.0pt;border-bottom:solid white 1.0pt;border-right:none;background:#f4f5f6;padding:3.75pt 7.5pt 3.75pt 7.5pt">
                    <p class="MsoNormal" align="right" style="text-align:right">
                        <span style="font-family:Roboto">Trị giá booking:<u></u><u></u></span>
                    </p>
                </td>
                <td width="1142" style="width:856.75pt;border-top:none;border-left:none;border-bottom:solid #f4f5f6 1.0pt;border-right:solid #f4f5f6 1.0pt;padding:3.75pt 7.5pt 3.75pt 7.5pt">
                    <p class="MsoNormal" style="line-height:15.0pt">
                        <b><span style="font-family:Roboto;color:#c50000">{{total}} đ</span></b>
                        <span style="font-family:Roboto"> <u></u><u></u></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="170" style="width:127.2pt;border-top:none;border-left:solid #f4f5f6 1.0pt;border-bottom:solid white 1.0pt;border-right:none;background:#f4f5f6;padding:3.75pt 7.5pt 3.75pt 7.5pt">
                    <p class="MsoNormal" align="right" style="text-align:right">
                        <span style="font-family:Roboto">Ngày đăng ký:<u></u><u></u></span>
                    </p>
                </td>
                <td width="1142" style="width:856.75pt;border-top:none;border-left:none;border-bottom:solid #f4f5f6 1.0pt;border-right:solid #f4f5f6 1.0pt;padding:3.75pt 7.5pt 3.75pt 7.5pt">
                    <p class="MsoNormal" style="line-height:15.0pt">
                        <span style="font-family:Roboto">{{ngaydat}} <u></u><u></u></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="170" style="width:127.2pt;border-top:none;border-left:solid #f4f5f6 1.0pt;border-bottom:solid white 1.0pt;border-right:none;background:#f4f5f6;padding:3.75pt 7.5pt 3.75pt 7.5pt">
                    <p class="MsoNormal" align="right" style="text-align:right">
                        <span style="font-family:Roboto">Hình thức thanh toán:<u></u><u></u></span>
                    </p>
                </td>
                <td width="1142" style="width:856.75pt;border-top:none;border-left:none;border-bottom:solid #f4f5f6 1.0pt;border-right:solid #f4f5f6 1.0pt;padding:3.75pt 7.5pt 3.75pt 7.5pt">
                    <p class="MsoNormal">
                        <span style="font-family:Roboto">{{hinhthuc}}<u></u><u></u></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="170" style="width:127.2pt;border-top:none;border-left:solid #f4f5f6 1.0pt;border-bottom:solid white 1.0pt;border-right:none;background:#f4f5f6;padding:3.75pt 7.5pt 3.75pt 7.5pt">
                    <p class="MsoNormal" align="right" style="text-align:right">
                        <span style="font-family:Roboto">Hạn chốt thanh toán:<u></u><u></u></span>
                    </p>
                </td>
                <td width="1142" style="width:856.75pt;border-top:none;border-left:none;border-bottom:solid #f4f5f6 1.0pt;border-right:solid #f4f5f6 1.0pt;padding:3.75pt 7.5pt 3.75pt 7.5pt">
                    <p class="MsoNormal">
                        <span style="font-family: Roboto; background: yellow">{{hanthanhtoan}}<u></u><u></u></span>
                    </p>
                </td>
            </tr>


        </tbody>
    </table>
    <p class="MsoNormal"><b>Thông tin chi tiết tour:</b><u></u><u></u></p>
    <table border="0" cellpadding="0" width="851" style="width:638.1pt">
        <tbody>
            <tr style="height:9.95pt">
                <td style="padding:3.75pt 3.75pt 3.75pt 3.75pt;height:9.95pt">
                    <p class="MsoNormal">Mã tour :<u></u><u></u></p>
                </td>
                <td colspan="4" style="padding:3.75pt 3.75pt 3.75pt 3.75pt;height:9.95pt">
                    <p class="MsoNormal">
                        <b><span style="background:yellow">{{MaTour}}<u></u><u></u></span></b>
                    </p>
                </td>
                <td rowspan="3" style="padding:3.75pt 3.75pt 3.75pt 3.75pt;height:9.95pt"></td>
            </tr>
            <tr style="height:9.95pt">
                <td style="padding:3.75pt 3.75pt 3.75pt 3.75pt;height:9.95pt">
                    <p class="MsoNormal">Tên tour :<u></u><u></u></p>
                </td>
                <td colspan="4" style="padding:3.75pt 3.75pt 3.75pt 3.75pt;height:9.95pt">
                    <p class="MsoNormal">
                        <b><span style="background:yellow">{{TenTour}}<u></u><u></u></span></b>
                    </p>
                </td>
            </tr>
            <tr style="height:9.95pt">
                <td colspan="6" style="background:#e0dfdf;padding:3.75pt 3.75pt 3.75pt 3.75pt;height:9.95pt">
                    <p class="MsoNormal"><b>Thông tin lịch trình </b><u></u><u></u></p>
                </td>
            </tr>
            <tr style="height:9.95pt">
                <td width="102" style="width:76.85pt;padding:3.75pt 3.75pt 3.75pt 3.75pt;height:9.95pt">
                    <p class="MsoNormal">Ngày đi:<u></u><u></u></p>
                </td>
                <td width="190" style="width:142.2pt;padding:3.75pt 3.75pt 3.75pt 3.75pt;height:9.95pt">
                    <p class="MsoNormal">{{ngaykhoihanh}}<u></u><u></u></p>
                </td>
            </tr>
            <tr style="height:9.95pt">
                <td style="padding:3.75pt 3.75pt 3.75pt 3.75pt;height:9.95pt">
                    <p class="MsoNormal">Hạn chốt vé :<u></u><u></u></p>
                </td>
                <td style="padding:3.75pt 3.75pt 3.75pt 3.75pt;height:9.95pt">
                    <p class="MsoNormal" style="background:yellow">{{hanchotve}}<u></u><u></u></p>
                </td>
            </tr>

            <tr style="height:9.95pt">
                <td colspan="6" style="background:#e0dfdf;padding:3.75pt 3.75pt 3.75pt 3.75pt;height:9.95pt">
                    <p class="MsoNormal"><b>Giá dịch vụ</b><u></u><u></u></p>
                </td>
            </tr>
            <tr style="height:111.55pt">
                <td colspan="6" style="border:solid #e0dfdf 3.0pt;">
                    <table border="0" cellpadding="0" width="837" style="width:627.75pt;margin-left:.1pt">
                        <tbody>
                            <tr style="height:19.95pt">
                                <td></td>
                                <td style="padding:3pt;height:19.95pt">
                                    <p class="MsoNormal"><b>Giá người lớn<br>(Từ 12 tuổi trở lên)<u></u><u></u></b></p>
                                </td>
                                <td style="padding:3pt;height:19.95pt">
                                    <p class="MsoNormal"><b>Giá trẻ em<br>(Từ 2 tuổi đến dưới 12 tuổi)<u></u><u></u></b></p>
                                </td>
                            </tr>
                            <tr style="height:9">
                                <td style="padding:3pt;height:9.95pt">
                                    <p class="MsoNormal">Giá trọn gói<u></u><u></u></p>
                                </td>
                                <td style="padding:3pt;height:9.95pt">
                                    <p class="MsoNormal"><b>{{nguoilon}} ₫ <u></u><u></u></b></p>
                                </td>
                                <td style="padding:3pt;height:9.95pt">
                                    <p class="MsoNormal"><b>{{treem}} ₫<u></u><u></u></b></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        Nếu quý khách cần tư vấn thêm thông tin, quý khách vui lòng liên hệ theo số điện thoại Ms DIỄM KHANG - Số nội bộ: 1111 - Tồng đài: 1900.4567
    </p>
    <p>
        Mong sớm nhận được hồi âm của quý khách.
    </p>
    <p>
        Trân trọng!
    </p>








</body>
</html>