<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2 class="titleemail">SAIGONTRAVEL - XÁC NHẬN ĐƠN HÀNG THANH TOÁN THÀNH CÔNG</h2>
    <p>Kính gửi quý khách, {{TenKH}}</p>
    <p>Thay mặt SaigonTravel, kính gửi đến quý khách lời chúc sức khỏe và lời cảm ơn chân thành vì đã quan tâm, tin tưởng sử dụng dịch vụ của chúng tôi.</p>
    <p>
        SaigonTravel xác nhận đơn hàng {{MaDonHang}} đã thanh toán thành công

    </p>

    <table border="1px;" style="width: 100%;">
        <thead>
            <tr>
                <th colspan="2">
                    <h3>PHIẾU XÁC NHẬN ĐẶT TOUR</h3>
                </th>
                <th style="border: 0px;"></th>
                <th colspan="2">
                    <h3>THÔNG TIN LIÊN LẠC</h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding: 10px;"><b>Mã tour</b></td>
                <td style="padding: 10px;">T0001</td>
                <td style="border: 0px;"></td>
                <td style="padding: 10px;"><b>Tên khách hàng</b></td>
                <td style="padding: 10px;">Trương Thị Hường</td>
            </tr>
            <tr>
                <td style="padding: 10px;"><b>Tên tour</b></td>
                <td style="padding: 10px;">Đà Nẵng-Huế</td>
                <td style="border: 0px;"></td>
                <td style="padding: 10px;"><b>Số điện thoại</b></td>
                <td style="padding: 10px;">0966253223</td>
            </tr>
            <tr>
                <td style="padding: 10px;"><b>Ngày đi</b></td>
                <td style="padding: 10px;">12/04/2023</td>
                <td style="border: 0px;"></td>
                <td style="padding: 10px;"><b>Địa chỉ</b></td>
                <td style="padding: 10px;">Đồng Nai</td>
            </tr>
            <tr>
                <td style="padding: 10px;"><b>Ngày về</b></td>
                <td style="padding: 10px;">15/04/2023</td>
                <td style="border: 0px;"></td>
                <td style="padding: 10px;"><b>Email</b></td>
                <td style="padding: 10px;">truongthihuong@gmail.com</td>
            </tr>
            <tr>
                <td style="padding: 10px;"><b>Nơi khởi hành</b></td>
                <td style="padding: 10px;">Hà Nội</td>
                <td style="border: 0px;"></td>
                <td style="padding: 10px;"><b>Số khách</b></td>
                <td style="padding: 10px;">Người lớn: 2 Trẻ em: 2</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align: center;">
                    <h3>CHI TIẾT BOOKING</h3>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px;"><b>Giảm giá</b></td>
                <td style="border: 0px;"></td>
                <td colspan="2" style="padding: 10px;">MDG01</td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px;"><b>Trị giá booking</b></td>
                <td style="border: 0px;"></td>
                <td colspan="2" style="padding: 10px;">2.000.000 VNĐ (Đã áp dụng giảm giá)</td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px;"><b>Ngày đăng ký</b></td>
                <td style="border: 0px;"></td>
                <td colspan="2" style="padding: 10px;">01/04/2023</td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px;"><b>Hình thức thanh toán</b></td>
                <td style="border: 0px;"></td>
                <td colspan="2" style="padding: 10px;">Tiền mặt</td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px;"><b>Tình trạng</b></td>
                <td style="border: 0px;"></td>
                <td colspan="2" style="background-color: yellow; padding: 10px;">Booking của quý khách đã quá hạn thanh toán</td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px;"><b>Thời hạn thanh toán</b></td>
                <td style="border: 0px;"></td>
                <td colspan="2" style="padding: 10px;">Thanh toán trước ngày 03/04/2023</td>
            </tr>
        </tfoot>
    </table>
    <br />
</body>
</html>