<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <h2 class="titleemail">SAIGONTRAVEL - XÁC NHẬN ĐĂNG KÝ THÀNH CÔNG TOUR DU LỊCH</h2>
    <p>Kính gửi quý khách, <b>{{TenKH}}</b></p>
    <p>Thay mặt SaigonTravel, kính gửi đến quý khách lời chúc sức khỏe và lời cảm ơn chân thành vì đã quan tâm, tin tưởng sử dụng dịch vụ của chúng tôi.</p>
    <p>SaigonTravel xác nhận quý khách đã đăng ký tour thành công, quý khách vui lòng lưu ý thời hạn booking để tránh trường hợp booking bị hủy do quá hạn.</p>
    <br />
    <h5 style="color:red;">CHI TIẾT BOOKING</h5>
    <table border="1" cellspacing="0" cellpadding="0" width="70%">
        <tbody>
            <tr>
                <td class="td1">
                    <p>
                        <strong style="font-family: Roboto; padding-left: 20px;">
                            Mã đơn hàng
                        </strong>
                    </p>
                </td>
                <td class="td2">
                    <p>{{MaDH}}</p>
                </td>
            </tr>
            <tr>
                <td class="td1">
                    <p>
                        <strong style="font-family: Roboto; padding-left: 20px;">
                            Tên khách hàng
                        </strong>
                    </p>
                </td>
                <td class="td2">
                    <p>{{TenKH}}</p>
                </td>
            </tr>
            <tr>
                <td class="td1">
                    <p>
                        <strong style="font-family: Roboto; padding-left: 20px;">
                            Tổng hóa đơn
                        </strong>
                    </p>
                </td>
                <td class="td2">
                    <p>{{total}}</p>
                </td>
            </tr>

            <tr>
                <td class="td1">
                    <p>
                        <strong style="font-family: Roboto; padding-left: 20px;">
                            Hình thức thanh toán
                        </strong>
                    </p>
                </td>
                <td class="td2">
                    <p>{{hinhthuc}}</p>
                </td>
            </tr>
            <tr>
                <td class="td1">
                    <p>
                        <strong style="font-family: Roboto; padding-left: 20px;">
                            Ngày đặt
                        </strong>
                    </p>
                </td>
                <td class="td2">
                    <p style="font-family:Roboto;">{{ngaydat}}</p>
                </td>
            </tr>
            <tr>
                <td class="td1">
                    <p>
                        <strong style="font-family: Roboto; padding-left: 20px;">
                            Hạn thanh toán
                        </strong>
                    </p>
                </td>
                <td class="td2">
                    <p style="font-family:Roboto;background:yellow">{{hanthanhtoan}}</p>
                </td>
            </tr>
        </tbody>
    </table>
    <h4 style="color:#2d4271">
        THÔNG TIN TOUR
    </h4>
    <table border="0" cellpadding="0" width="851" style="width:638.1pt">
        <tbody>
            <tr>
                <td>
                    <p class="MsoNormal">
                        Mã tour :

                    </p>
                </td>
                <td colspan="4">
                    <p class="MsoNormal">
                        <b>
                            <span style="background:yellow">{{MaTour}}</span>
                        </b>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="MsoNormal">
                        Tên Tour :

                    </p>
                </td>
                <td colspan="4">
                    <p class="MsoNormal">
                        <b>
                            <span style="background:yellow">{{TenTour}}</span>
                        </b>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="MsoNormal">
                        Ngày khởi hành :

                    </p>
                </td>
                <td colspan="4">
                    <p class="MsoNormal">
                        <b>
                            <span style="background:yellow">{{ngaykhoihanh}}</span>
                        </b>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="MsoNormal">
                        Nơi khởi hành :

                    </p>
                </td>
                <td colspan="4">
                    <p class="MsoNormal">
                        <b>
                            <span style="background:yellow">{{noikhoihanh}}</span>
                        </b>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="MsoNormal">
                        Hạn chót vé :

                    </p>
                </td>
                <td colspan="4">
                    <p class="MsoNormal">
                        <b>
                            <span style="background:yellow">{{hanchotve}}</span>
                        </b>
                    </p>
                </td>
            </tr>


    </table>
    <p>
        Cần thêm thông tin, Anh vui lòng liên hệ theo số điện thoại Ms DIỄM KHANG - Số nội bộ: 1111 - Tồng đài: 1900.4567
    </p>
    <p>
        Mong sớm nhận được hồi âm của quý khách.
    </p>
    <p>
        Trân trọng!
    </p>


 



    

</body>
</html>