<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
   
</head></html>
<main class="app-content ">
    <div class="row">
        <div class="col-md-12">
            <div class="app-title">
                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><b>@ViewBag.Name</b></a></li>
                </ul>
                <div id="clock"></div>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</main>