
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/styleLogin.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    <div class="box">
        <div class="container">

            <div class="top">
                <span>
                    <img class="logo1" src="~/Content/Images/logo_project.png" width="60px" height="75px;"
                         alt="User Image">
                </span>
                <span class="logo" style="color: #f2e193; font-size: 40px; display: flex; justify-content: center; ">Vietrip Insum</span>

                <header> Forgot Password </header>
            </div>

            <div class="input-field">
                <input type="text" class="input" placeholder="Username" id="">

            </div>

            <div class="input-field">
                <input type="text" class="input" placeholder="Last Password" id="">

            </div>

            <div class="input-field">
                <input type="text" class="input" placeholder="New Password" id="">

            </div>
            <div class="container-login100-form-btn">
                <input type="submit" class="submit" value="Send confirmation code" />
            </div>
</body>
</html>