@model Tourist_VietripInsum_2023.Models.NhanVien


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/styleLogin.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Login Form</title>
</head>
<body>
    @{
        var ktr = TempData["error"];
        if (ktr == "err")
        {
            <script>
                swal({
                    title: "Login ",
                    text: "Invalid Username / Password!",
                    icon: "error",
                    button: "OK",
                });
            </script>
        }
    }
    <div class="box">
        <div class="container">
            <div class="top">
                <span>
                    <img class="logo1" src="~/Content/Images/logo_project.png" width="60px" height="75px;"
                         alt="User Image">
                </span>
                <span class="logo" style="color: #f2e193; font-size: 40px; display: flex; justify-content: center; ">SaiGon Travel</span>
            </div>
            <div class="body_form">
                <header>Staff Login</header>
                @using (Html.BeginForm("Login", "LoginStaff", FormMethod.Post))
                {
                    <div class="wrap-input100 validate-input input-field">
                        <input class="input100 input" type="text" placeholder="Enter username" name="UserName"
                               id="UserName" required>
                        @*<span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class='bx bx-user'></i>
                            </span>*@
                    </div>
                    <div class="wrap-input100 validate-input input-field">
                        <input autocomplete="off" class="input100 input" type="password" placeholder="Enter password"
                               name="Password" id="Password" required>
                        <input type="checkbox" class="checkbox" onclick="myFunction()">
                        <label id="showpass" class="showpass"> Show Password </label>
                        <script>
                            function myFunction() {
                                var x = document.getElementById("Password");
                                if (x.type === "password") {
                                    x.type = "text";
                                } else {
                                    x.type = "password";
                                }
                            }
                        </script>

                    </div>
                    
                    <!--=====ĐĂNG NHẬP======-->
                    <div class="container-login100-form-btn">
                        <input type="submit" class="submit" value="Login" />
                    </div>
                }

                <div class="bottom">
                    <div class="left">
                    </div>
                    <div class="middle">

                    </div>
                    <div class="right">
                        <label><a href="~/LoginStaff/ForgotPassword">Forgot password?</a></label>
                    </div>
                </div>
            </div>

        </div>


    </div>
</body>
</html>

<!--dialog_message -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>