
@{
    ViewBag.Title = "ListOfCustomers";
    Layout = "~/Views/Admin/AdminView.cshtml";
}

<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 500px;">
    <div><h2>Tính năng sắp ra mắt</h2></div>
    <div>
        <a class="btn btn-warning btn-lg d-block" type="button" title="Back" href="/Admin/HomePage">
            Trở lại
        </a>
    </div>

</div>

@*<style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 500px;
            flex-direction: column;
        }

        .box {
            width: 100px;
            height: 100px;
            background-color: #ccc;
            margin: 10px;
        }
    </style>
    <div class="container">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>*@